DATABASE_URL="postgresql://neondb_owner:npg_8u2IsleiVGpJ@ep-round-star-b39x9rdb-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
AUTH_SECRET="joblignph_secret_key_12345"
AUTH_URL="http://localhost:3000"
UPLOAD_DIR="public/uploads"
MAX_RESUME_MB="5"
